@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.information{
	background-color: $body-bg;
	overflow: hidden;
	.information-content{
		display: flex;
		margin-top: 23px;
		.article-theme{
			flex:1;
			margin-right: 20px;
			.theme{
				padding-left: 12px;
				margin-bottom: 23px;
				background-color: #fff;
				.tit{
					padding: 0 14px 0 9px;
					line-height: 55px;
					font-size: 17px;
					border-bottom: 1px solid #eee;
					.pull-left{
						font-weight: bold;
					}
				}
				.detailed{
					padding:10px 0 14px 0;
					display: flex;
					.detailed-pic{
						flex:0 0 405px;
						margin-right: 18px;
						img{
							width: 100%;
						}
					}
					.detailed-content{
						flex:1;
						.content-title{
							span{
								display: inline-block;
							}
							.hot{
								position: relative;
								padding: 5px 9px;
								margin-right: 14px;
								color:#fff;
								background-color: $brand;
								&:after{
									position: absolute;
									left: 0;
									bottom: -3px;
									display: block;
									content: " ";
									border: 3px solid transparent;
            			border-left-color: #fe7b10; 
								}
							}
							.hots{
								font-weight: bold;
							}
						}
						p{
							padding: 15px 37px 0 20px;
							font-size: 12px;
							color: #888;
						}
						.lists{
							padding-right: 20px;
							li{
								border-bottom: 1px dashed #eee;
								a{
									position: relative;
									display: block;
									span{
										margin-left: 15px;
										line-height: 40px;
									}
									&:before{
										position: absolute;
										left: 0;
										top: 20px;
										display: block;
										height: 4px;
										width: 4px;
										content: " ";
										background-color: #8dc4d3;
									}
								}
							}
						}
					}
				}
			}
			.article-nav{
				display: flex;
				.nav{
					flex:0 0 132px;
					margin-right: 18px;
					li{
						.boss{
							display: block;
							position: relative;
							margin-bottom: 4px;
							padding: 13px 23px 14px 18px;
							color:#fff;
							background-color: #5dabc0;
							&:before{
								position: absolute;
								left: 20px;
								top: 14px;
								display: block;
								content: " ";
								border: 10px solid transparent;
            		border-left-color: rgb(255,255,255);
							}
							span{
								margin-left: 20px;
							}
						}
						.son{
							display: none;
							li{
								background-color: #fff;
								padding-left: 29px;
								a{
									display: block;
									line-height: 37px;
									color: #5dabc0;
									border-bottom: 1px solid #eee;
								}
							}
							li:hover{
								background-color: #eee;
							}
						}
						&:hover .son{
							display: block;
						}
					}
				}
				.article{
					flex:1;
					padding: 0 15px 85px 15px;
					background-color: #fff;
					.article-titles{
						padding: 0 20px;
						line-height: 50px;
						border-bottom: 3px solid #eee;
						.spa1{
							font-size: 23px;
							margin-right: 12px;
							font-weight: bold;
						}
						.spa2{
							margin: 0 5px;
							color: #5dabc0;
						}
					}
					.article-content{
						padding: 20px 0 30px 0;
						display: flex;
						border-bottom: 1px solid #eee;
						.pic{
							flex:0 0 220px;
							margin-right: 18px;
							img{
								width: 100%;
							}
						}
						.pic-content{
							flex:1;
							h1{
								a{
									font-size: 15px;
									color: #5dabc0;
								}
							}
							span{
								margin-right: 17px;
								line-height: 30px;
								font-size: 9px;
								color: #bcbbbb;
							}
							.end{
								span{
									margin-right: 7px;
									font-size: 12px;
									i{
										font-size: 13px;
									}
								}
								.blue{
									color: #5dabc0;
								}
							}
						}
					}
					.pages{
						position: relative;
						margin-top: 47px;
						ul{
							position: absolute;
							right: 20px;
							top: 0;
							overflow: hidden;
							li{
								float: left;
								a{
									display: block;
									width: 40px;
									height: 40px;
									line-height: 40px;
									text-align: center;
									border: 1px solid #eee;
								}
								&:last-child{
									width: 90px;
									a{
										width: 90%;
									}
								}
							}
						}
					}
				}
			}
		}
		.aside{
			flex:0 0 250px;
			.aside-list{
				margin-bottom: 16px;
				background-color: #fff;
				p{
					padding: 0 19px;
					line-height: 53px;
					font-size: 18px;
					font-weight: bold;
					border-bottom: 1px solid #eee;
				}
				li{
					a{
						position: relative;
						display: block;
						padding: 15px 20px;
						span{
							margin-left: 10px;
						}
						&:before{
							position: absolute;
							left: 20px;
							top: 23px;
							display: block;
							height: 4px;
							width: 4px;
							content: " ";
							background-color: #8dc4d3;
						}
					}
				}
			}
		}
	}
}