@import "../../css/variables.scss";
@import "../../css/mixins.scss";
body{
	background:#fbfbfb;
}
.index{
	.banner{
		position:relative;
		height: 352px;
			li{
				position:absolute;
				top:0;
				left:0;
				height: 352px;
				img{
					width: 100%;
					height: 100%;
				}
			}
		.Larrow,.Rarrow{
			position:absolute;
			width:43px;
			height:60px;
			text-align: center;
			line-height: 60px;
			font-size: 20px;
			color:rgba(255,255,255,0.6);
			background: #ad9e8c;
		}
		.Larrow{
			left:74px;
			top:50%;
			margin-top:-30px;
		}
		.Rarrow{
			right:74px;
			top:50%;
			margin-top:-30px;
		}
	}
	.nav-bar{
		height: 32px;
		line-height: 32px;
		padding-bottom: 16px;
		margin:25px auto 15px auto;
		border-bottom:2px solid #ccc;
		span{
			position:relative;
			font-size: 24px;
			cursor:pointer;
			color:$brand-yellow;
			padding:0 23px 18px;
			border-bottom:2px solid $brand-yellow;
			&:after{
				position:absolute;
				left:50%;
				margin-left:-4px;
				margin-top: -2px;
				content: "";
				display: table;
				width:0px;
				border-left:8px solid transparent;
				border-top: 8px solid transparent;
				border-bottom:8px solid $brand-yellow;
				border-right:8px solid transparent;
			}
		}
		.bgGreen{
			position:relative;
			font-size: 24px;
			cursor:pointer;
			color:#82bc34;
			padding:0 23px 18px;
			border-bottom:2px solid #82bc34;
			&:after{
				position:absolute;
				left:50%;
				margin-left:-4px;
				content: "";
				display: table;
				width:0px;
				border-left:8px solid transparent;
				border-top: 8px solid transparent;
				border-bottom:8px solid #82bc34;
				border-right:8px solid transparent;
			}
		}
		.bgBlue{
			position:relative;
			font-size: 24px;
			cursor:pointer;
			color:#52a1e3;
			padding:0 23px 18px;
			border-bottom:2px solid #52a1e3;
			&:after{
				position:absolute;
				left:50%;
				margin-left:-4px;
				content: "";
				display: table;
				width:0px;
				border-left:8px solid transparent;
				border-top: 8px solid transparent;
				border-bottom:8px solid #52a1e3;
				border-right:8px solid transparent;
			}
		}
		.bgPurple{
			position:relative;
			font-size: 24px;
			cursor:pointer;
			color:#6a51b2;
			padding:0 23px 18px;
			border-bottom:2px solid #6a51b2;
			&:after{
				position:absolute;
				left:50%;
				margin-left:-4px;
				content: "";
				display: table;
				width:0px;
				border-left:8px solid transparent;
				border-top: 8px solid transparent;
				border-bottom:8px solid #6a51b2;
				border-right:8px solid transparent;
			}
		}
		a{
			float:right;
			font-size: 14px;
			color:#a2a2a2;
		}
	}

	.hotSearch{
		height: 326px;
		.hotNews{
			background:#fff;
			width: 930px;
			height: 100%;
			.pic{
				float:left;
				width:408px;
				padding:20px 20px 0;
				img{
					width:100%;
				}
			}
			.news{
				margin-left:443px;
				padding:23px 0;
				span{
					position:relative;
					font-size: 14px;
					padding:5px 6px;
					background:#fe7b10;
					color:#fff;
					&:after{
						position:absolute;
						left:0;
						bottom:-4px;
						content: "";
						display: table;
						width:0px;
						border-left:5px solid #fe7b10;
						border-top: 5px solid transparent;
						border-bottom:5px solid transparent;
						border-right:5px solid transparent;
					}
				}
				h4{
					display: inline-block;
					font-size: 18px;
					margin-left:12px;
					margin-bottom:25px;
					}
				p{
					font-size: 14px;
					margin:0 36px 26px 20px;
				}

				ul{
					padding-right:16px;
					li{
						position:relative;
						margin-left:20px;
						font-size: 16px;
						line-height: 42px;
						border-bottom:1px dashed #ccc;
						&:after{
							position:absolute;
							left:-17px;
							top:20px;
							display: table;
							content: "";
							width:4px;
							height: 4px;
							background:#8dc4d3;
						}
					}
				}
			}
		}			
		.writingArea{
			width:253px;
			height: 100%;
			background:#fff;
			p{
				padding:17px 0 15px 20px;
				font-size: 18px;
				border-bottom:1px solid #ccc;
			}
			li{
				display: flex;
				margin:16px 20px;
			}
			.avatar{
				flex:0 0 45px;
				width:45px;
				height: 45px;
				margin-right: 10px;
				img{
					width: 100%;
					border-radius:50%;

				}
			}
			.content{
				flex:1;
				span{
					display: block;
					font-size: 14px;
					&:last-child{
						color:$brand-red;
					}
				}
			}
			.myWriting{
				display: block;
				margin:0 20px 15px;
				height: 38px;
				color:#fff;
				line-height: 43px;
				text-align: center;
				background:#859ab4;

			}
		}
	}
	.askings{
		height: 400px;
		.askingL{
			height: 100%;
			width:250px;
			background:#fff;
			p{
				text-align:center;
				&:first-child{
					margin-top: 80px;
					margin-bottom: 17px;
				}
			}
			ul{
				margin:46px 26px 20px;
				li{
					float:left;
					margin:1px;
					width:23px;
					height:30px;
					color:#fff;
					line-height: 30px;
					text-align: center;
					border-radius:3px;
					background:#fe7b10;
				}
			}
			.asking-active{
				margin-top: 38px;
				padding-bottom:45px;
				padding-left:12px;
				font-size: 0;
				a{
					display: inline-block;
					width:104px;
					height: 42px;
					font-size: 16px;
					margin-right:12px; 
					line-height: 42px;
					text-align: center;
					color:#859ab4;
					border-radius:3px;
					border:1px solid #859ab4;
					&:hover{
						background:#859ab4;
						color:#fff;
					}
				}			
			}
		}
		.center{
			margin:0 270px;
			height: 100%;
			background:#fff;
			ul{
				margin-left:18px;
				margin-right:22px;
				li{
					padding-top:20px;
					padding-bottom:18px;
					border-bottom:1px dashed #ccc;
					&:last-child{
						border-bottom:none;
					}
					h2{
						position:relative;
						font-size: 16px;
						padding-left:16px;
						&:before{
							position:absolute;
							content: "";
							display: table;
							width:3px;
							height: 20px;
							left:0;
							background:#5dabc0;
						}
					}
					p{
						margin:19px 0 17px 0;
						font-size: 14px;
					}
					.desc{
						font-size: 12px;
						span{
							color:#fe7b10;
							padding-right:2px;
							&:last-child{
								float:right;
								color:#000;
							}
						}					
					}				
				}
			}
		}
		.askingR{
			width: 250px;
			height: 100%;
			background:#fff;
			h2{
				padding:17px 0 15px 15px;
				font-size: 18px;
				border-bottom:1px solid #ccc;
			}
			.personal{
				display: flex;
				padding-top:20px;
				padding-left:16px;
				.pic{
					flex:0 0 72px;
					width:72px;
					height:72px;
					margin-right: 13px;
					img{
						width:100%;
						border-radius:50%;
					}
				}
				.mess{
					flex:1;
					p{
						font-size: 18px;
					}
					span{
						display: block;
						font-size: 12px;
						color:#fe7b10;
					}
				}
			}
			.issue{
				padding-left:17px;
				padding-right:28px;
				border-bottom:1px solid #ccc;
				h3{
					margin-top: 25px;
					margin-bottom:13px;
					font-size: 18px;
				}
				p{
					font-size: 12px;
				}
				a{
					margin-top: 16px;
					padding-bottom:13px;
					display: block;
					text-align: center;
					font-size: 12px;
					span{
						padding-left:9px;
						color:#62bb3a;
					}
				}			
			}
			.counts{
				display: flex;
				li{
					flex:1;
					margin-top: 19px;
					margin-bottom:32px;
					text-align: center;
					border-right:1px solid #ccc;
					&:last-child{
						border-right:none;
					}
					span{
						display: block;
						font-size: 14px;
					}
				}
			}
		}

	}

	.learning{
		position:relative;
		height:120px;
		overflow: hidden;
		ul{
			position: absolute;      /* 轮播未做 */
			top:0;
			left:0;
			padding-left:11px;
			margin-right: -30px;
			li{
				float:left;
				margin-right: 30px;
				width:210px;
				transition: all 1s;
				&:hover{ 
					border:1px solid #ccc;
					background:#fff;
					transform:scale(1.1);
				}
				img{
					width:100%;
					margin-top:10px;
					padding-left:10px;
					padding-right:10px;
					box-sizing:border-box;
				}
				a{
					display: block;
					margin-left:10px;
					margin-bottom:30px;
					font-size: 14px;
				}			
			}
		}
	}

	.morExciting{
		height: 400px;
		margin-bottom:39px;
		.public{
				margin-bottom:14px;
				padding:0 4px 0 18px;
				line-height: 52px;
				border-bottom:1px solid #ccc;
				span{
					font-size: 18px;
				}
				a{
					float:right;
					font-size: 14px;
					&:hover{
						color:#6a51b2;						
					}
				}
			}
		.information{
			width:455px;
			height:100%;
			background: #fff;
			.headlines{
				display: flex;
				margin: 27px 20px auto 20px;
				border-bottom:1px dashed #ccc;
				.pic{
					flex:0 0 62px;
					margin-right: 11px;
					width:62px;
					height: 62px;
					img{
						width:100%;
					}
				}
				.question{
					flex:1;
					h2{
						font-size: 16px;
					}
					p{
						font-size: 14px;
					}
				}
			}
			ul{
				margin:13px auto 33px 34px;
				li{
					position:relative;
					margin-bottom:18px;
					&:after{
						position:absolute;
						left:-15px;
						top:14px;
						display: table;
						content: "";
						width:4px;
						height: 4px;
						background:#8dc4d3;
					}
					a{
						font-size: 14px;
					}
				}
			}
		}
		.lawy{
			margin-left: 18px;
			width:455px;
			background:#fff;
			height: 100%;
			ul{
				margin:24px auto 36px 35px;
				li{
					position:relative;
					margin-bottom: 18px;
					&:after{
						position:absolute;
						left:-15px;
						top:12px;
						display: table;
						content: "";
						width:4px;
						height: 4px;
						background:#8dc4d3;
					}
					a{
						font-size: 14px;
					}
				}
			}
		}
		.activity{
			width:250px;
			height: 100%;
			background:#fff;
			h3{
				padding:15px 0 17px 19px;
				font-weight: 600;
				font-size:18px;
				border-bottom:1px solid #ccc;
			}
			img{
				display: block;
				width:223px;
				height: 129px;
				margin:10px auto;
			}
			p{
				font-size: 12px;
				line-height: 22px;
				margin-left:13px;
				margin-right: 24px;
			}
			a{
				display: block;
				margin:13px 15px;
				width: 222px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size:16px;
				color:#fff;
				background:#859ab4;
			}
		}	
	}
}


