@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.information{
	background-color: $body-bg;
	overflow: hidden;
	.information-content{
		display: flex;
		margin-top: 23px;
		padding: 0 0 30px 0;
		.article{
			flex:1;
			padding: 0 15px 85px 15px;
			margin-right: 20px;
			min-height: 800px;
			background-color: #fff;
			.article-titles{
				padding: 0 20px;
				line-height: 50px;
				border-bottom: 3px solid #eee;
				.spa1{
					font-size: 23px;
					margin-right: 12px;
					font-weight: bold;
				}
				.spa2{
					margin: 0 5px;
					color: #5dabc0;
				}
			}
			.article-content{
				padding: 20px 0 30px 0;
				display: flex;
				border-bottom: 1px solid #eee;
				.pic{
					flex:0 0 220px;
					margin-right: 18px;
					img{
						width: 100%;
					}
				}
				.pic-content{
					flex:1;
					h1{
						a{
							font-size: 15px;
							color: #5dabc0;
						}
					}
					span{
						margin-right: 17px;
						line-height: 30px;
						font-size: 9px;
						color: #bcbbbb;
					}
					.end{
						span{
							margin-right: 7px;
							font-size: 12px;
							i{
								font-size: 13px;
							}
						}
						.blue{
							color: #5dabc0;
						}
					}
				}
			}
			.pages{
				position: relative;
				margin-top: 47px;
				ul{
					position: absolute;
					right: 20px;
					top: 0;
					overflow: hidden;
					li{
						float: left;
						a{
							display: block;
							width: 40px;
							height: 40px;
							line-height: 40px;
							text-align: center;
							border: 1px solid #eee;
						}
						&:last-child{
							width: 90px;
							a{
								width: 90%;
							}
						}
					}
				}
			}
		}
		.aside{
			flex:0 0 250px;
			.aside-list{
				margin-bottom: 16px;
				background-color: #fff;
				p{
					padding: 0 19px;
					line-height: 53px;
					font-size: 18px;
					font-weight: bold;
					border-bottom: 1px solid #eee;
				}
				li{
					a{
						position: relative;
						display: block;
						padding: 15px 20px;
						span{
							margin-left: 10px;
						}
						&:before{
							position: absolute;
							left: 20px;
							top: 23px;
							display: block;
							height: 4px;
							width: 4px;
							content: " ";
							background-color: #8dc4d3;
						}
					}
				}
			}
		}
	}
}