@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.information{
	background-color: $body-bg;
	.information-content{
		display: flex;
		.article{
			flex:1;
			background-color: #fff;
			padding: 0 15px;
			.titles{
				padding: 0 20px;
				line-height: 50px;
				border-bottom: 3px solid #eee;
				background-color: #fff;
				.spa1{
					font-size: 23px;
					margin-right: 12px;
					font-weight: bold;
				}
				.spa2{
					color: #5dabc0;
				}
			}
		}





		.aside{
			flex:0 0 250px;
		}
	}
}