@import "../../css/variables.scss";
@import "../../css/mixins.scss";
body{
	background:$body-bg;
}
.education{
	.public{
		padding-left:17px;
		padding-right:13px;
		height: 54px;
		line-height: 54px;
		border-bottom: 1px solid #ccc;
		span{
			font-size: 18px;
		}
		a{
			float:right;
			font-size: 14px;
		}
	}
	.project{
		background: $white;
		margin-top:23px;
		.chatWhite{
			width:220px;
			img{
				width:100%;
			}
		}
		.project-list{
			margin-top:18px;
			margin-left:250px;
			ul{
				margin-right: -30px;
				font-size: 0;
				li{
					display: inline-block;
					margin-right:30px;
					margin-bottom:44px;
					width:210px;
					transition: all 1s;
						&:hover{
							border:1px solid #ccc;
							background:#fff;
							transform:scale(1.2);
						}
					a{
						position:relative;
						display:block;
						img{
							width:100%;
							margin-top:10px;
							padding-left:10px;
							padding-right:10px;
							box-sizing:border-box;
						}
						.play{
							position:absolute;
							left:10px;
							bottom:0;
							width:40px;
							height: 40px;
							img{
								width:100%;
							}
						}
						span{
							display: block;
							margin-bottom:30px;
							margin-left:10px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.Anime{
		margin-top:20px;
		background:$white;
		.pic{
			float:left;
			width:460px;
			img{
				width:100%;
			}
		}
		.anime-list{
			margin-left:480px;
			margin-top:28px;
			ul{
				margin-right:-30px;
				li{
					display: inline-block;
					margin-right:30px;
					margin-bottom:44px;
					width:210px;
					transition: all 1s;
						&:hover{
							border:1px solid #ccc;
							background:#fff;
							transform:scale(1.2);
						}
					a{
						position:relative;
						display:block;
						img{
							width:100%;
							margin-top:10px;
							padding-left:10px;
							padding-right:10px;
							box-sizing:border-box;
						}
						span{
							display: block;
							margin-bottom:30px;
							margin-left:10px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.practing{
		height: 400px;
		margin-top: 20px;
		margin-bottom:39px;
		.public{
				margin-bottom:14px;
				padding:0 4px 0 18px;
				line-height: 52px;
				border-bottom:1px solid #ccc;
				span{
					font-size: 18px;
				}
				a{
					float:right;
					font-size: 14px;
				}
			}
		.safety{
			width:455px;
			height:100%;
			background: $white;
			ul{
				margin:13px auto 33px 34px;
				li{
					position:relative;
					margin-bottom:18px;
					&:after{
						position:absolute;
						left:-15px;
						top:10px;
						display: table;
						content: "";
						width:4px;
						height: 4px;
						background:#8dc4d3;
					}
					a{
						font-size: 14px;
					}
				}
			}
		}
		.training{
			margin-left: 18px;
			width:455px;
			background:$white;
			height: 100%;
			ul{
				margin:24px auto 36px 35px;
				li{
					position:relative;
					margin-bottom: 18px;
					&:after{
						position:absolute;
						left:-15px;
						top:10px;
						display: table;
						content: "";
						width:4px;
						height: 4px;
						background:#8dc4d3;
					}
					a{
						font-size: 14px;
					}
				}
			}
		}
		.exam{
			width:250px;
			height: 100%;
			background:$white;
			a{
				display: block;
				padding:15px 0 17px 19px;
				font-weight: 600;
				font-size:18px;
				border-bottom:1px solid #ccc;
			}
			img{
				display: block;
				width:214px;
				height: 271px;
				margin:10px auto;
			}
		}	
	}
}